/* Style for background image.*/
.bgimage {
	background-color: #f2f2f2;
	border-style: solid;
	border-width: 3px;
	border-color: #bfbfbf;
	border-radius: 10px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 0px;
}

.logos {
	background-color: #f2f2f2;
	border-style: solid;
	border-width: 3px;
	border-color: #bfbfbf;
	border-radius: 10px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 0px;
}

.img-responsive {
	display: block;
	width: 100%;
	height: auto;
}

ul.info {
    padding-left:10%;
}

li.info {
    font-size: 12pt;
    margin-bottom:20px;
}

ul.info2 {
    padding-left:10%;
    margin-top:20px;
}

li.info2 {
    font-size: 12pt;
    margin-bottom:10px;
}

.blocks {
	float: left;
    margin-top: 2%;
	width: 20%;
	text-align: center;
}

.block-img {
    left:2%;
    width: 96%;
}

h1 {
	font-weight: bold;
}

h3 {
	font-weight: bold;
}

p {
	font-size: 12pt;
	font-weight: bold;
	padding-top: 15px;
}

figcaption {
	font-size: 12pt;
	font-weight: bold;
	padding-top: 10px;
}

.mynavbar {
	background-color: #a2d7be;
	font-size: 12pt;
	font-weight: bold;
}

@media screen and (min-width:768px) and (max-width:1024px)
{	
	.blocks {
	
		float: left;
		width: 50%;
		height: 200px;
		text-align: center;
	}
}

@media screen and (min-width:0) and (max-width:767px)
{
	header {
		height:auto;
		max-height:auto;
	}
	
	.center-header {
		display:block;
		width:100%;
		margin:0 auto;
	}
	
	nav {
		height:100px;
	}
	
	ul {
		margin:0;
		padding:0;
	}
	
	li {
		width:100%;
		max-width:100%;
	}
	
	h1 {
		margin-left: 5%;
		text-align: center;
	}
	
	p {
		margin-left: 5%;
		font-size: 12pt;
		font-weight: bold;
		padding-top: 15px;
	}
	
	.first {
		margin-left: 0;
	}
	
	.logo {
		width : 90%;
		margin-left: 5%;
	}
	
	.blocks {
		float:		left;
		width:  	70%;
		margin-left: 15%;
		height: 	180px;
		text-align: center;
	}
}